# Folders
HertzDevil_JSON_assets
Resources
Testing
Tools
venv
ExtraFiles
.mypy_cache

# Files
Code/JSONdataloader_withdebugstuff.py
Code/FEH_definitions.py
Code/FireEmblemCombat.py
Code/FireEmblemLoadJsonDataFiles.py
Code/FireEmblemLoadJsonFilesBetter.py
Code/FireEmblemMain.py
Code/FireEmblemMainCopy.py