# Folders:
HertzDevil_JSON_assets
Resources
Testing
#Tools
venv
ExtraFiles
.mypy_cache


# Files:
Old_Code/JSONdataloader_withdebugstuff.py
Code/FEH_definitions.py
Old_Code/FireEmblemCombat.py
Old_Code/FireEmblemLoadJsonDataFiles.py
Old_Code/FireEmblemLoadJsonFilesBetter.py
Old_Code/FireEmblemMain.py
Old_Code/FireEmblemMainCopy.py